 
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

#container {
    position: relative;
    display:flex;
    justify-content: center;
}

#container #Game-Screen, #gamestart_Screen {
    position:absolute;
    margin: auto;
}


#Game-Screen {
    /* height: 900px;
    width: 1200px; */
    background-color: rgb(108, 63, 231);
    border: 4px dashed burlywood;
    border-radius: 2em;
    z-index: 1;
}

#gamestart_Screen {
    height: 900px;
    width:1200px;
    background-image: url(./Gamescreen.jpeg);
    background-size: cover;
    z-index: 100;
    cursor: pointer;
    border-radius: 2em;
    border:4px solid burlywood;
    transition: opacity 2s;
}

#logo {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 350px;
    
    
}

#playbutton {
    font-size: 45px;
    border: none;
    border-radius: 1em;
    background-color: burlywood;
    color: hotpink;
    padding: 10px;
    transition: opacity 2s;
    cursor: pointer;
    font-family: 'Zen Dots', cursive;
    position:inherit;
    margin-top:500px;
    margin-right: auto;
    
}


#welcome {
    
    color:burlywood;
    margin: 20px;
    font-family: 'Zen Dots', cursive;
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;
    
}

p {
    text-emphasis: center;
    color:white;
    font-size: 25px;
    font-family: 'Zen Dots', cursive;
    margin-top: 600px;
    text-align: center;
    position: absolute;
}
