 
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

#container {
    position: relative;
    display:flex;
    justify-content: center;
}

#container #Game-Screen, #gamestart_Screen {
    position:absolute;
    margin: auto;
}
 
body {
    background-image: url(./screen-8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Game-Screen {
    /* height: 900px;
    width: 1200px; */
    background-image: url(./Gamescreen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px dashed burlywood;
    border-radius: 2em;
    z-index: 1;
}

#gamestart_Screen {
    height: 900px;
    width:1200px;
    background-image: url(./Gamescreen.jpeg);
    background-size: cover;
    z-index: 100;
    cursor: pointer;
    border-radius: 2em;
    border: 6px solid burlywood;
    transition: opacity 2s;
}

#logo {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 350px;
    
    
}

#playbutton {
    font-size: 45px;
    border: none;
    border-radius: 1em;
    background-color: burlywood;
    color: hotpink;
    padding: 10px;
    transition: opacity 2s;
    cursor: pointer;
    font-family: 'Zen Dots', cursive;
    position:inherit;
    margin-top:500px;
    right: 480px;
    
}


#welcome {
    
    color:burlywood;
    margin: 20px;
    font-family: 'Zen Dots', cursive;
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;
    
}

p {
    text-emphasis: center;
    color:white;
    font-size: 25px;
    font-family: 'Zen Dots', cursive;
    margin-top: 650px;
    text-align: center;
    position: absolute;
}


#gameover {
    background-color: burlywood;
    height: 200px;
    width: 400px;
    margin-left: 250px;
    z-index: 1000;
}

#reset {
    border-radius: 2em;
    border: none;
}

#Restartb {
    border-radius: 2em;
    border: none;
    background-color: purple;
    color: burlywood;
    padding: 10px;
    font-size: 20px;
}

#h1_game {
    font-family: 'Zen dots', cursive;
    font-size: 40px;
    text-align: center;
}